#main {
  display: flex;
  flex-direction: column;
  
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  
  font-family: monospace;
  background-color: #222;
}

#status-bar {
  text-align: center;
  padding: 0.5em 1em;
  
  font-weight: bold;
}

#status-bar[data-status="running"] {
  background-color: lightgreen;
}

#status-bar[data-status="running"]::before {
  content: "Server is running!"
}

#status-bar[data-status="stopped"] {
  background-color: darkgray;
}

#status-bar[data-status="stopped"]::before {
  content: "Server is stopped."
}

#term {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  
  position: relative; 
  
  background-color: #222;
  color: #dedede;
  font-family: monospace;
}

#term-info {
  margin: auto;
  font-style: italic;
  text-align: center;
}

button {
  border: 0;
  
  background-color: #666;
  color: #efefef;
  font-family: inherit;
  padding: 0.3em 0.6em;
  
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

utton:active {
  background-color: #444;
}

#term-info button {
  margin-top: 0.3em;
  padding: 0.6em 1em;
}

#term-content {
  flex: 1;
  overflow-y: scroll;
  padding: 0.3em 0.4em;
}

#term-input-container form {
  display: flex;
}

#cmd-feedback {
  display: block;
  background-color: #222;
  color: #efefef;
  
  padding: 0.4em 0.5em;
}

#term-input-container input[type=text] {
  flex: 1;
  font-family: monospace;
  background-color: #444;
  border: 0;
  color: #efefef;
  padding: 0.5em 0.5em;
}

#term-input-container input[type=submit] {
  background-color: #666;
  border: 0;
  color: #efefef;
  font-family: monospace;
  padding: 0 1em;
  border-radius: 0;
}

header {
  background-color: #666;
  display: flex;
  flex-direction: row-reverse;
}

form#login {
  margin: auto;
  
  border: 1px solid black;
  padding: 1em 2em;
  background-color: #eee;
}

form#login input[type=text], input[type=password] {
  display: block;
  margin-bottom: 1em;
}

form#login input[type=submit] {
  display: block;
}